---
const { image, title, author, excerpt, date, category, focalPoint, blurUpThumb } = Astro.props;
---
<div class="grid two-col post-header">

  <div class="two-col-grid__col">
    <small>{category}</small>
    <h1>{title}</h1>
    <p>{excerpt}</p>
    <small>{date}</small>
    <h2>{author}</h2>
  </div>

  <div class="two-col-grid__col">
    <picture class="post-header--picture" style={`background-image: url('${blurUpThumb}')`}>
      <source srcset={`${image}?auto=format&h=900`} />
      <img src={`${image}?auto=format&h=900&crop=focalpoint&fp-x=${focalPoint.x}&fp-y=${focalPoint.y}`} alt="Buzz" />
    </picture>
  </div>
</div>