---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostLayout from "../layouts/PostLayout.astro";
import PostHeader from "../components/astro/post-header.astro"

export async function createCollection() {
  const token = __SNOWPACK_ENV__.DATO_API_TOKEN;
  const allPostsResponse = await fetch('https://graphql.datocms.com/',
  {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'Authorization': `Bearer ${token}`,
    },
    body: JSON.stringify({
      query: `{
        allPosts {
          category {
            name
          }
          excerpt
          title
          content {
            value
          }
          date
          slug
          coverImage {
            url
          }
          author {
            name
          }
        }
      }`
    }),
  });
  const allPostResult = await allPostsResponse.json();
  const allPost = allPostResult.data.allPosts;

  return {
    route: `/post/:name`,
    paths() {
      return allPost.map((post, i) => ({params: {name: post.slug}}));
    },
    async props({ params }) {
      return {item: allPost.find((post) => post.slug === params.name)};
    },
  };
}

const { item } = Astro.props;
const paragraph = item.content.value.document.children.map((a) => (
      a.children.map(b => {
        return (
          <p class="post-paragraph">{b.value}</p>
        )
      })
    ))
const {title, category, excerpt, author, date, coverImage } = item
---

<BaseLayout title={title}>
    <PostHeader image={coverImage.url} title={title} category={category.name} excerpt={excerpt} author={author.name} date={date} />
    <PostLayout>
      { paragraph }
    </PostLayout>
</BaseLayout>

