---
let title = 'My Astro Site';
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../components/astro/page-layout.astro";
import PostTile from "../components/react/post-tile/";

// Data
const token = __SNOWPACK_ENV__.DATO_API_TOKEN;
const response = await fetch('https://graphql.datocms.com/',
  {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'Authorization': `Bearer ${token}`,
    },
    body: JSON.stringify({
      query: `{
        allPosts {
          category {
            name
          }
          slug
          title
          excerpt
          date
          coverImage {
            url
          }
          author {
            name
          }
        }
      }`
    }),
  });
const data = await response.json()
const featurePost = data.data.allPosts[2]
const stripPost = data.data.allPosts[3]


---

<BaseLayout title={title}>

  <PageLayout>
      <div slot="left-col">
       {
        data.data.allPosts.slice(0,2).map(({id, title, category, excerpt, coverImage, author, slug}) => {
          return (
              <PostTile slug={slug} key={id} title={title} category={category.name} excerpt={excerpt} image={coverImage.url} author={author.name} />
          )
        })
      }
      </div>

      <div slot="middle-col">
          <PostTile slug={featurePost.slug} tileType="feature" title={featurePost.title} category={featurePost.category.name}  excerpt={featurePost.excerpt} image={featurePost.coverImage.url} author={featurePost.author.name} />
          <PostTile slug={stripPost.slug} tileType="strip"  title={stripPost.title} category={stripPost.category.name}  excerpt={featurePost.excerpt} image={featurePost.coverImage.url} author={featurePost.author.name} />
      </div>

      <div slot="right-col">
        {
          data.data.allPosts.slice(4).map(({id, title, category, excerpt, coverImage, author, slug}) => {
            return (
                <PostTile slug={slug} tileType="mini" key={id} title={title} category={category.name}  excerpt={excerpt} image={coverImage.url} author={author.name} />
            )
          })
        }
      </div>
  </PageLayout>
</BaseLayout>