---
let title = 'My Astro Site';
import BaseLayout from "../layouts/BaseLayout.astro";
import AboveFoldLayout from "../components/astro/above-fold-layout.astro";
import PostTile from "../components/react/post-tile/";
import TextStrip from "../components/react/text-strip/";
import ManInAHat from "../../public/assets/eustace-400.png";

import DailyCartoon from "../components/react/daily-cartoon/index.tsx"

// Data
const token = __SNOWPACK_ENV__.DATO_API_TOKEN;
const postsResponse = await fetch('https://graphql.datocms.com/',
  {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'Authorization': `Bearer ${token}`,
    },
    body: JSON.stringify({
      query: `{
        allPosts {
          category {
            name
          }
          slug
          title
          excerpt
          date
          coverImage {
            url
            blurUpThumb
            focalPoint {
              x
              y
            }
          }
          author {
            name
          }
        }
      }`
    })
  }
);

const cartoonResponse = await fetch('https://graphql.datocms.com/',
  {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'Authorization': `Bearer ${token}`,
    },
    body: JSON.stringify({
      query: `{
        allCartoons {
          image {
            url
            alt
          }
          caption
        }
      }`
    })
  }
);
const postsData = await postsResponse.json()
const featurePost = postsData.data.allPosts[2]
const stripPost = postsData.data.allPosts[3]

const defaultFocal = {
  x: "0",
  y: "0"
}


const cartoonData = await cartoonResponse.json()
const dailyCartoon =  cartoonData.data.allCartoons[0]
// const dailyCartoon = data.data.allCartoons[0]

console.log("dailyCartoon:" ,dailyCartoon)
const supportBuzzImage = {
  src: ManInAHat,
  alt: "Eustace"
}

---

<BaseLayout title={title}>
  <TextStrip image={supportBuzzImage} justifyContent="center" text="Support <i>Buzz the boy's</i> award winning journaliism. <a href='/'>Subscribe today »" />
  <AboveFoldLayout>
    <div slot="left-col">
      {
      postsData.data.allPosts.slice(0,2).map(({id, title, category, excerpt, coverImage, author, slug}) => {
        return (
            <PostTile
              slug={slug}
              key={id}
              title={title}
              category={category.name}
              excerpt={excerpt}
              image={coverImage.url}
              focalPoint={coverImage.focalPoint}
              blurUpThumb={coverImage.blurUpThumb}
              author={author.name}
            />
        )
      })
    }
    </div>

    <div slot="middle-col">
        <PostTile
          slug={featurePost.slug}
          tileType="feature"
          title={featurePost.title}
          category={featurePost.category.name}
          excerpt={featurePost.excerpt}
          image={featurePost.coverImage.url}
          focalPoint={featurePost.coverImage.focalPoint}
          blurUpThumb={featurePost.coverImage.blurUpThumb}
          author={featurePost.author.name}
        />
        <PostTile
          slug={stripPost.slug}
          tileType="strip"
          title={stripPost.title}
          category={stripPost.category.name}
          excerpt={stripPost.excerpt}
          image={stripPost.coverImage.url}
          focalPoint={stripPost.coverImage.focalPoint}
          blurUpThumb={stripPost.coverImage.blurUpThumb}
          author={stripPost.author.name}
        />
    </div>

    <div slot="right-col">
      {
        postsData.data.allPosts.slice(3).map(({id, title, category, excerpt, coverImage, author, slug}) => {
          return (
              <PostTile
                slug={slug}
                tileType="mini"
                key={id}
                title={title}
                category={category.name}
                excerpt={excerpt}
                image={coverImage.url}
                focalPoint={coverImage.focalPoint}
                blurUpThumb={coverImage.blurUpThumb}
                author={author.name}
              />
          )
        })
      }
    </div>
  </AboveFoldLayout>


  <TextStrip text="Puzzles & Games" justifyContent="center" />


  <div class="grid four-col"> 
    <div class="four-col-grid__col">
      <PostTile
        slug="/"
        tileType="regular"
        title="Ninja Worrier(sic)"
        category=""
        excerpt="Excerpt"
        image="https://images.unsplash.com/photo-1460194436988-671f763436b7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80"
        focalPoint={defaultFocal}
        author=""  />
    </div>
    <div class="four-col-grid__col">
      <PostTile
        slug="/"
        tileType="regular"
        title="Lego Packages"
        category=""
        excerpt="Excerpt"
        image="https://images.unsplash.com/photo-1516641051054-9df6a1aad654?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2300&q=80"
        focalPoint={defaultFocal}
        author=""  />
    </div>
    <div class="four-col-grid__col">
      <PostTile
        slug="/"
        tileType="regular"
        title="Hide and seek"
        category=""
        excerpt="Excerpt"
        image="https://images.unsplash.com/photo-1545166924-bed85e2fed64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80"
        focalPoint={defaultFocal}
        author=""  />
    </div>
    <div class="four-col-grid__col">
      <PostTile
        slug="/"
        tileType="regular"
        title="Dinosaur puzzles"
        category=""
        excerpt="Excerpt"
        image="https://images.unsplash.com/photo-1593501828586-b07c7fa6cb5d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80"
        focalPoint={defaultFocal}
        author=""  />
    </div>
  </div>

  <div class="grid two-col">
    <div class="two-col-grid__col"></div>
    <div class="two-col-grid__col">
      <DailyCartoon cartoon={{src: `${dailyCartoon.image.url}?auto=format`, alt: dailyCartoon.image.alt, caption: dailyCartoon.caption}} />
    </div>
  </div>
</BaseLayout>