---
let title = 'My Astro Site';
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../components/astro/page-layout.astro";
import PostTile from "../components/react/post-tile/";

// Data
const token = __SNOWPACK_ENV__.DATO_API_TOKEN;
const response = await fetch('https://graphql.datocms.com/',
  {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'Authorization': `Bearer ${token}`,
    },
    body: JSON.stringify({
      query: '{ allPosts { id, title, excerpt } }'
    }),
  });
const data = await response.json()

console.log(data.data.allPosts)
// React
---

<BaseLayout title={title}>

  <PageLayout>
      <div slot="left-col">
        left col
      </div>

      <div slot="middle-col">
      {
        data.data.allPosts.map(({id,title, excerpt}) => {
          return (
              <PostTile key={id} title={title} excerpt={excerpt} />
          )
        })
      }
      </div>

      <div slot="right-col">
        right col
      </div>
  </PageLayout>
</BaseLayout>